---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU30000220521/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU30000220521/items/NYU50003634701000010"></item></items></get-item-list> '
  recorded_at: Tue, 14 Oct 2014 15:46:50 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU30000220521/items/NYU50003634701000010
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: '<?xml version = "1.0" encoding = "UTF-8"?><get-item><reply-text>ok</reply-text><reply-code>0000</reply-code><item><z30-sub-library-code>BRES</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>20</z30-item-status-code><z30-collection-code>BRES</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>003634701</z30-doc-number><z30-item-sequence>    1.0</z30-item-sequence><z30-barcode>31142045597443</z30-barcode><z30-sub-library>NYU
        Bobst Reserve Collection</z30-sub-library><z30-material>Periodicals</z30-material><z30-item-status>Reserve
        2 hour loan</z30-item-status><z30-open-date>20130130</z30-open-date><z30-update-date>20131025</z30-update-date><z30-cataloger>MUHAMMADA</z30-cataloger><z30-date-last-return>20140831</z30-date-last-return><z30-hour-last-return>1517</z30-hour-last-return><z30-ip-last-return>128.122.88.46</z30-ip-last-return><z30-no-loans>000</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Reserve
        Collection</z30-collection><z30-call-no-type>0</z30-call-no-type><z30-call-no>R838.5
        .M333 Non-circulating</z30-call-no><z30-call-no-key>0 r&quot;838 5 m333 non
        circulating 0</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description>3rd
        edition</z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number>20135038</z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price>44.99</z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>20130130</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Not
        in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>004434548</z30-hol-doc-number><z30-temp-location>Yes</z30-temp-location><z30-enumeration-a>3</z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type>3</z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000001</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>000</z30-maintenance-count><z30-process-status-date>20130802</z30-process-status-date><z30-upd-time-stamp>201408311517460</z30-upd-time-stamp><z30-ip-last-return-v6></z30-ip-last-return-v6></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>003634701</z13-doc-number><z13-year>2010</z13-year><z13-open-date>20120626</z13-open-date><z13-update-date>20130729</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC0</z13-call-no-code><z13-call-no>R838.5</z13-call-no><z13-author-code>1300</z13-author-code><z13-author>MCAT
        organic chemistry review (Kaplan, Inc.)</z13-author><z13-title-code>24500</z13-title-code><z13-title>MCAT
        organic chemistry review /</z13-title><z13-imprint-code>260</z13-imprint-code><z13-imprint>New
        York, NY : Kaplan Pub., c2010-</z13-imprint><z13-isbn-issn-code></z13-isbn-issn-code><z13-isbn-issn></z13-isbn-issn><z13-upd-time-stamp>200001011200000</z13-upd-time-stamp></z13><status>On
        Shelf</status></item></get-item> '
  recorded_at: Tue, 14 Oct 2014 15:46:50 GMT
recorded_with: VCR 2.9.2
