---
http_interactions:
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://primo.library.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph001951476</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getRecordResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://primo.library.edu/PrimoWebServices/services/searcher\"><getRecordReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;\n        &lt;DOC
        LOCAL=&quot;true&quot;&gt;\n          &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
        \           &lt;record&gt;\n              &lt;control&gt;\n           [...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings/NYU60004924392"><leader>     nx  a22     1i
        4500</leader><controlfield tag="001">004924392</controlfield><controlfield
        tag="004">001951476</controlfield><controlfield tag="007">ta</controlfield><controlfield
        tag="008">1403244p    8   1001baeng1140324</controlfield><datafield tag="852"
        ind1=" " ind2=" "><subfield code="a">NNNS</subfield><subfield code="b">TNSKE</subfield><subfield
        code="c">ARCH</subfield><subfield code="m">Non-circulating</subfield></datafield><datafield
        tag="853" ind1="2" ind2="0"><subfield code="8">1</subfield><subfield code="a">no.</subfield><subfield
        code="u">4</subfield><subfield code="v">C</subfield><subfield code="i">(year)</subfield><subfield
        code="w">x</subfield></datafield></holding><holding href="http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings/NYU60000036718"><leader>     cyH
        a22007575i 4500</leader><controlfield tag="001">000036718</controlfield><controlfield
        tag="004">NYUb10896719</controlfield><controlfield tag="005">20080531113906.0</controlfield><controlfield
        tag="007">zm</controlfield><controlfield tag="008">9908194p||||8   1001baeng0130516</controlfield><datafield
        tag="035" ind1="9" ind2=" "><subfield code="a">NYUH1089671[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings/NYU60004924392"></holding><holding
        href="http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings/NYU60000036718"></holding></holdings></get-hol-list> '
  recorded_at: Tue, 20 May 2014 20:37:48 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01001951476/holdings/NYU60004924392
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>     nx  a22     1i
        4500</leader><controlfield tag="001">004924392</controlfield><controlfield
        tag="004">001951476</controlfield><controlfield tag="007">ta</controlfield><controlfield
        tag="008">1403244p    8   1001baeng1140324</controlfield><datafield tag="852"
        ind1=" " ind2=" "><subfield code="a">NNNS</subfield><subfield code="b">TNSKE</subfield><subfield
        code="c">ARCH</subfield><subfield code="m">Non-circulating</subfield></datafield><datafield
        tag="853" ind1="2" ind2="0"><subfield code="8">1</subfield><subfield code="a">no.</subfield><subfield
        code="u">4</subfield><subfield code="v">C</subfield><subfield code="i">(year)</subfield><subfield
        code="w">x</subfield></datafield></holding></get-hol> '
  recorded_at: Tue, 20 May 2014 20:37:48 GMT
[...]
