---
http_interactions:
- request:
    method: post
    uri: http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:getRecord><request><![CDATA[<fullViewRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>nyu_aleph002893728</docId></fullViewRequest>]]></request></wsdl:getRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"getRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><soapenv:Body><ns1:getRecordResponse
        soapenv:encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:ns1=\"http://bobcatdev.library.nyu.edu/PrimoWebServices/services/searcher\"><getRecordReturn
        xsi:type=\"soapenc:string\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">&lt;SEGMENTS
        xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;\n  &lt;JAGROOT&gt;\n
        \   &lt;RESULT&gt;\n      &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;\n        &lt;DOC
        LOCAL=&quot;true&quot;&gt;\n          &lt;PrimoNMBib xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot;&gt;\n
        \           &lt;record&gt;\n              &lt;control&gt;\n           [...]
- request:
    method: get
    uri: http://alephstage.library.nyu.edu:1891/rest-dlf/record/NYU01002893728/holdings?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version = "1.0" encoding = "UTF-8"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href="http://alephstage.library.nyu.edu:1891/rest-dlf/record/NYU01002893728/holdings/NYU60000404086"><leader>     cyH
        a22003615  4500</leader><controlfield tag="001">000404086</controlfield><controlfield
        tag="004">NYUb10612735</controlfield><controlfield tag="005">20080531115252.0</controlfield><controlfield
        tag="007">he</controlfield><controlfield tag="008">0003294p||||8   0001a|eng0130402</controlfield><datafield
        tag="010" ind1=" " ind2=" "><subfield code="a">08036997 //r84</subfield></datafield><datafield
        tag="022" ind1="0" ind2=" "><subfield code="a">0042-8000</subfield></datafield><datafield
        tag="035" ind1="9" ind2=" "><subfield code="a">NYUH10612735/12373474</subfield></datafield><datafield
        tag="852" ind1="4" ind2=" "><subfield code="a">NNU</subfield><subfield code="b">BOBST</subfield><subfield
        code="c">MFORM</subfield><subfield code="j">Fiche/Per</subfield><subfield
        code="m">Non-circulating</subfi[...]
- request:
    method: get
    uri: http://alephstage.library.nyu.edu:1891/rest-dlf/record/NYU01002893728?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: !binary |-
        T0s=
    headers:
      !binary "U2VydmVy":
      - !binary |-
        QXBhY2hlLUNveW90ZS8xLjE=
      !binary "WC1Qb3dlcmVkLUJ5":
      - !binary |-
        U2VydmxldCAyLjU7IEpCb3NzLTUuMC9KQm9zc1dlYi0yLjE=
      !binary "Q29udGVudC1UeXBl":
      - !binary |-
        YXBwbGljYXRpb24veG1s
      !binary "VHJhbnNmZXItRW5jb2Rpbmc=":
      - !binary |-
        Y2h1bmtlZA==
      !binary "RGF0ZQ==":
      - !binary |-
        VHVlLCAyNSBNYXIgMjAxNCAyMTo1NDowMiBHTVQ=
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbiA9ICIxLjAiIGVuY29kaW5nID0gIlVURi04Ij8+PGdl
        dC1yZWNvcmQ+PHJlcGx5LXRleHQ+b2s8L3JlcGx5LXRleHQ+PHJlcGx5LWNv
        ZGU+MDAwMDwvcmVwbHktY29kZT48cmVjb3JkPjxpbmZvIHR5cGU9Ikl0ZW1z
      [...]
