---
http_interactions:
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: "<?xml version = \"1.0\" encoding = \"UTF-8\"?><get-hol-list><reply-text>ok</reply-text><reply-code>0000</reply-code><holdings><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742\"></holding><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807743\"></holding><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60004671371\"></holding><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358492\"></holding><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358493\"></holding><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358494\"></holding><holding
        href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60000358496\"></holding></holdings></get-hol-list> "
  recorded_at: Tue, 10 Jun 2014 14:28:35 GMT
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404/holdings/NYU60003807742
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: "<?xml version = \"1.0\" encoding = \"UTF-8\"?><get-hol><reply-text>ok</reply-text><reply-code>0000</reply-code><holding><leader>
        \    ny  a22     3i 4500</leader><controlfield tag=\"001\">003807742</controlfield><controlfield
        tag=\"004\">002904404</controlfield><controlfield tag=\"007\">ta</controlfield><controlfield
        tag=\"008\">0905194p    8   0001aaeng1000000</controlfield><datafield tag=\"852\"
        ind1=\" \" ind2=\" \"><subfield code=\"b\">CU</subfield><subfield code=\"c\">PERIO</subfield><subfield
        code=\"m\">Non-circulating</subfield><subfield code=\"a\">NNCoo</subfield></datafield><datafield
        tag=\"866\" ind1=\"3\" ind2=\"1\"><subfield code=\"8\">1</subfield><subfield
        code=\"a\">v.81(2005)-</subfield></datafield></holding></get-hol> "
  recorded_at: Tue, 10 Jun 2014 14:28:35 GMT
[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU01002904404?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbiA9ICIxLjAiIGVuY29kaW5nID0gIlVURi04Ij8+PGdl
        dC1yZWNvcmQ+PHJlcGx5LXRleHQ+b2s8L3JlcGx5LXRleHQ+PHJlcGx5LWNv
        ZGU+M[...]
