---
http_interactions:
- request:
    method: post
    uri: http://primo.library.edu/PrimoWebServices/services/searcher
    body:
      encoding: US-ASCII
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"\
        http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:wsdl=\"http://primo.library.edu/PrimoWebServices/services/searcher\"\
        \ xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Body><getRecord><request><![CDATA[<fullViewRequest\
        \ xmlns=\"http://www.exlibris.com/primo/xsd/wsRequest\" xmlns:uic=\"http://www.exlibris.com/primo/xsd/primoview/uicomponents\"\
        ><PrimoSearchRequest xmlns=\"http://www.exlibris.com/primo/xsd/search/request\"\
        ><QueryTerms><BoolOpeator>AND</BoolOpeator></QueryTerms><StartIndex>1</StartIndex><BulkSize>5</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled></PrimoSearchRequest><institution>NYU</institution><docId>COURSES000193032</docId></fullViewRequest>]]></request></getRecord></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - "\"getRecord\""
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: US-ASCII
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><getRecordResponse soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"><getRecordReturn xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;SEGMENTS xmlns=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
          &lt;JAGROOT&gt;
            &lt;RESULT&gt;
              &lt;DOCSET TOTALHITS=&quot;1&quot;&gt;
                &lt;sear:DOC LOCAL=&quot;true&quot; xmlns=&quot;http://www.exlibrisgroup.com/xsd/primo/primo_nm_bib&quot; xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;
                  &lt;PrimoNMBib[...]
- request:
    method: get
    uri: http://aleph.library.edu:1891/rest-dlf/record/NYU30000193032/items?view=full
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: US-ASCII
      string: "<?xml version = \"1.0\" encoding = \"UTF-8\"?><get-item-list><reply-text>ok</reply-text><reply-code>0000</reply-code><items><item\
        \ href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU30000193032/items/NYU50100285680000010\"\
        ><z30-sub-library-code>BRES</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>20</z30-item-status-code><z30-collection-code>BRES</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>100285680</z30-doc-number><z30-item-sequence>\
        \    1.0</z30-item-sequence><z30-barcode>31142051608357</z30-barcode><z30-sub-library>NYU\
        \ Bobst Reserve Collection</z30-sub-library><z30-material>Books</z30-material><z30-item-status>Reserve\
        \ 2 hour loan</z30-item-status><z30-open-date>20130130</z30-open-date><z30-update-date>20130130</z30-update-date><z30-cataloger>NYEIM</z30-cataloger><z30-date-last-return>20130225</z30-date-last-return><z30-hour-last-return>1207</z30-hour-last-return><z30-ip-last-return>128.122.88.46</z30-ip-last-return><z30-no-loans>002</z30-no-loans><z30-alpha>L</z30-alpha><z30-collection>Reserve\
        \ Collection</z30-collection><z30-call-no-type>8</z30-call-no-type><z30-call-no>XLM0002.E01</z30-call-no><z30-call-no-key>8\
        \ xlm0002.e01</z30-call-no-key><z30-call-no-2-type></z30-call-no-2-type><z30-call-no-2></z30-call-no-2><z30-call-no-2-key></z30-call-no-2-key><z30-description></z30-description><z30-note-opac></z30-note-opac><z30-note-circulation></z30-note-circulation><z30-note-internal></z30-note-internal><z30-order-number></z30-order-number><z30-inventory-number></z30-inventory-number><z30-inventory-number-date>00000000</z30-inventory-number-date><z30-last-shelf-report-date>00000000</z30-last-shelf-report-date><z30-price></z30-price><z30-shelf-report-number></z30-shelf-report-number><z30-on-shelf-date>00000000</z30-on-shelf-date><z30-on-shelf-seq>000000</z30-on-shelf-seq><z30-doc-number-2>000000000</z30-doc-number-2><z30-schedule-sequence-2>00000</z30-schedule-sequence-2><z30-copy-sequence-2>00000</z30-copy-sequence-2><z30-vendor-code></z30-vendor-code><z30-invoice-number></z30-invoice-number><z30-line-number>00000</z30-line-number><z30-pages></z30-pages><z30-issue-date>00000000</z30-issue-date><z30-expected-arrival-date>00000000</z30-expected-arrival-date><z30-arrival-date>00000000</z30-arrival-date><z30-item-statistic></z30-item-statistic><z30-item-process-status>Not\
        \ in Process</z30-item-process-status><z30-copy-id></z30-copy-id><z30-hol-doc-number>000000000</z30-hol-doc-number><z30-temp-location>No</z30-temp-location><z30-enumeration-a></z30-enumeration-a><z30-enumeration-b></z30-enumeration-b><z30-enumeration-c></z30-enumeration-c><z30-enumeration-d></z30-enumeration-d><z30-enumeration-e></z30-enumeration-e><z30-enumeration-f></z30-enumeration-f><z30-enumeration-g></z30-enumeration-g><z30-enumeration-h></z30-enumeration-h><z30-chronological-i></z30-chronological-i><z30-chronological-j></z30-chronological-j><z30-chronological-k></z30-chronological-k><z30-chronological-l></z30-chronological-l><z30-chronological-m></z30-chronological-m><z30-supp-index-o></z30-supp-index-o><z30-85x-type></z30-85x-type><z30-depository-id></z30-depository-id><z30-linking-number>000000000</z30-linking-number><z30-gap-indicator></z30-gap-indicator><z30-maintenance-count>002</z30-maintenance-count><z30-process-status-date>20130130</z30-process-status-date></z30><z13><translate-change-active-library>NYU50</translate-change-active-library><z13-doc-number>000193031</z13-doc-number><z13-year>0000</z13-year><z13-open-date>20130130</z13-open-date><z13-update-date>20130130</z13-update-date><z13-call-no-key></z13-call-no-key><z13-call-no-code>LOC8</z13-call-no-code><z13-call-no></z13-call-no><z13-author-code>1001</z13-author-code><z13-author>Hall\
        \ &amp; Leiberman</z13-author><z13-title-code>245</z13-title-code><z13-title>Microeconomics:\
        \ Principles and applications (6th edt.)</z13-title><z13-imprint-code></z13-imprint-code><z13-imprint></z13-imprint><z13-isbn-issn-code></z13-isbn-issn-code><z13-isbn-issn></z13-isbn-issn></z13><status>On\
        \ Shelf</status></item><item href=\"http://aleph.library.edu:1891/rest-dlf/record/NYU30000193032/items/NYU50100285680000020\"\
        ><z30-sub-library-code>BRES</z30-sub-library-code><z30-item-process-status-code></z30-item-process-status-code><z30-item-status-code>20</z30-item-status-code><z30-collection-code>BRES</z30-collection-code><queue></queue><z30><translate-change-active-library>NYU50</translate-change-active-library><z30-doc-number>100285680</z30-doc-number><z30-item-sequence>\
        \    2.0</z30-item-sequenc[...]
